<div class="d-flex flex-row mt-2">
    <div class="first-row-emotions flex-row me-3">
        <div class="card" style="width: 12rem; height: 12rem;">
            <div class="card-body">
                <h5 class="card-title">1 nè</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card mt-3" style="width: 12rem; height: 12rem;">
            <div class="card-body">
                <h5 class="card-title">2 nè</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
    <div class="second-row-emotions flex-row ">
        <div class="card" style="width: 12rem; height: 12rem;">
            <div class="card-body">
                <h5 class="card-title">3 nè</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card mt-3" style="width: 12rem; height: 12rem;">
            <div class="card-body">
                <h5 class="card-title">4 nè</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
</div>